/*
  css reset https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-size: 18px;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  theme vars
*/

:root {
  --colorText: #ffffff;
  --colorText2: rgb(34, 206, 206);
  --colorBack: rgb(14, 21, 27);
  --colorBack2: rgb(24, 35, 45);
  --colorBack3: rgb(32, 48, 64);
  --colorBack4: rgb(41, 62, 83);

  --colorButtonBack: #333344;
  --colorButtonBackHover: #3d3d58;
  --colorButtonText: #ffffff;

  --colorKeyBorder: rgb(14, 61, 61);
  --colorKeyRoot: rgb(24 35 45);

  --colorConsoleLog: rgb(109, 128, 146);
  --colorConsoleWarn: rgb(255, 84, 30);
  --colorConsoleError: rgb(192, 45, 1);
}

/*
  app style
*/

html,
body {
  background-color: var(--colorBack);
  color: var(--colorText);
  font-family: 'JetBrains Mono', monospace;
}

::selection {
  background: var(--colorText2);
  color: var(--colorBack);
}

#root {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  height: 100%;
}

a {
  color: var(--colorText);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li::marker {
  color: var(--colorText2);
  font-size: 0.7em;
}

input {
  background: var(--colorBack);
  border: 1px solid var(--colorBack2);
  color: var(--colorText);
  padding: .3rem .6rem;
  width: 100%;
}._main_d2owg_1 {
  padding: 1rem;
}

._list_d2owg_5 {
  margin-top: .5rem;
  padding-left: 2rem;
  padding-top: 1rem;
  list-style-type: decimal-leading-zero;
  border-top: 1px solid var(--colorBack3);
}

._listItem_d2owg_13 {
  padding-bottom: .25rem;
}

._footer_d2owg_17 {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--colorBack3);
}

._footer_d2owg_17 a {
  padding-right: 1rem;
}

._header_d2owg_27 {
  display: flex;
}

._headerTitle_d2owg_31 {
  flex-grow: 1;
  margin-bottom: 1rem;
}

._headerBack_d2owg_36 {
  padding-left: 1rem;
}

._type_d2owg_40 {
  font-size: 16px;
  color: var(--colorText2);
}

._pre_d2owg_45 {
  font-size: 14px;
}

._content_d2owg_49 {
  margin-top: 2rem;
  border-top: 1px solid var(--colorBack3);
  padding-top: 1rem;
}

._content_d2owg_49:after {
  content: "";
  display: table;
  clear: both;
}

._link_d2owg_61 {
  color: var(--colorText2);
  font-size: 16px;
}